<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Rycerz | KoO</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

<!-- pageheader
================================================== -->
<div class="s-pageheader">

    <header class="header">
        <div class="header__content row">

            <div class="header__logo">
                <a class="logo" href="index.html">
                    <img src="images/logo.svg" alt="Homepage">
                </a>
            </div> <!-- end header__logo -->
            <div>
                <ul class="header__stats">
                    <li>
                        PŻ: 500/500
                    </li>

                    <li>
                        PD: 80/100
                    </li>

                    <li>
                        iLvl: 50
                    </li>
                    <table class="gold">
                        <tr>
                            <td>Gold</td>
                            <td>Silver</td>
                            <td>Bronze</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>84</td>
                            <td>55</td>
                        </tr>
                    </table>

                </ul>
            </div>

            <!-- end header__social -->

            <a class="header__search-trigger" href="#0"></a>
            <div class="header__search">

                <form role="search" method="get" class="header__search-form" action="#">
                    <label>
                        <span class="hide-content">Search knight:</span>
                        <input type="search" class="search-field" placeholder="Enter knight name" value="" name="s"
                               title="Search knight:" autocomplete="off">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>

                <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

            </div>  <!-- end header__search -->


            <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

            <nav class="header__nav-wrap">

                <h2 class="header__nav-heading h6">Site Navigation</h2>

                <ul class="header__nav">
                    <li><a href="/rycerz" title="">Rycerz</a></li>
                    <li><a href="style-guide.html" title="">Wyprawa</a></li>
                    <li><a href="style-guide.html" title="">Tawerna</a></li>
                    <li class="has-children">
                        <a href="#0" title="">Ranking</a>
                        <ul class="sub-menu">
                            <li><a href="single-video.html">Rycerze</a></li>
                            <li><a href="single-audio.html">Zakony</a></li>
                            <li><a href="single-gallery.html">Turnieje</a></li>
                        </ul>
                    </li>
                </ul> <!-- end header__nav -->

                <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

            </nav> <!-- end header__nav-wrap -->

        </div> <!-- header-content -->
    </header> <!-- header -->

</div> <!-- end s-pageheader -->


<!-- s-content
================================================== -->
<section class="s-content s-content--narrow">

    <table>
        <td>
            <div class="row">

                <div class="s-content__header col-full">
                    <h1 class="s-content__header-title"/>
                    <h2>
                        Level: 15</h2>

                </div> <!-- end s-content__header -->

                <div class="s-content__media col-full">
                    <div class="s-content__post-thumb">
                        <img src="images/thumbs/about/about-1000.jpg" class="center">
                    </div>
                </div> <!-- end s-content__media -->
            </div>
        </td>
        <td>
            <table>
                <td>
                    <tr>
                        <div class="row">
                            <div class="s-content__header col-full">
                                <h2 class="s-content__header-title">
                                    Statystyki
                                </h2>
                            </div>
                        </div>
                    </tr>
                    <br>
                    <tr>
                        <a class="adder">+</a> Siła: 150<br>
                    </tr>
                    <tr>
                        + Zwinność: 100<br>
                    </tr>
                    <tr>
                        + Wytrzymałość: 120<br>
                    </tr>
                    <tr>
                        + Handel: 80<br>
                    </tr>
                </td>
            </table>
        </td>
    </table>
</section> <!-- s-content -->


<!-- s-footer
================================================== -->
<footer class="s-footer">

    <div class="s-footer__main">
        <div class="row">

            <div class="col-two md-four mob-full s-footer__sitelinks">

                <h4>Quick Links</h4>

                <ul class="s-footer__linklist">
                    <li><a href="#0">Rycerz</a></li>
                    <li><a href="#0">Wyprawa</a></li>
                    <li><a href="#0">Tawerna</a></li>
                    <li><a href="#0">Ranking</a></li>
                </ul>


            </div> <!-- end s-footer__archives -->

            <div class="col-two md-four mob-full s-footer__social">

                <h4>Social</h4>

                <ul class="s-footer__linklist">
                    <li><a href="#0">Facebook</a></li>
                    <li><a href="#0">Instagram</a></li>
                </ul>

            </div> <!-- end s-footer__social -->

            <div class="col-five md-full end s-footer__subscribe">

                <h4>Our Newsletter</h4>

                <p>Sit vel delectus amet officiis repudiandae est voluptatem. Tempora maxime provident nisi et fuga et
                    enim exercitationem ipsam. Culpa consequatur occaecati.</p>

                <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">

                        <input type="email" value="" name="EMAIL" class="email" id="mc-email"
                               placeholder="Email Address" required="">

                        <input type="submit" name="subscribe" value="Send">

                        <label for="mc-email" class="subscribe-message"></label>

                    </form>
                </div>

            </div> <!-- end s-footer__subscribe -->

        </div>
    </div> <!-- end s-footer__main -->

    <div class="s-footer__bottom">
        <div class="row">
            <div class="col-full">
                <div class="s-footer__copyright">
                    <span>© Copyright Philosophy 2018</span>
                    <span>Site Template by <a href="https://colorlib.com/">Colorlib</a></span>
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"></a>
                </div>
            </div>
        </div>
    </div> <!-- end s-footer__bottom -->

</footer> <!-- end s-footer -->


<!-- preloader
================================================== -->
<div id="preloader">
    <div id="loader">
        <div class="line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>


<!-- Java Script
================================================== -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

</body>

</html>